.test {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;

  padding-bottom: 50px;
  border-bottom: 3px solid #d1cad0;

  img {
    width: 270px;
    height: 135px;
  }

  h1 {
    text-align: center;
    margin-top: 50px;
    margin-bottom: 50px;
  }

  button {
    width: 154px;
    height: 42px;

    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;

    display: block;
    text-align: center;
    display: block;
    background-position: 0% 0%;
    background-repeat: no-repeat;
    border-width: 1px;
    border-radius: 15px;
    background-hover-color: #c46298;
    color: #ffffff;
    background-color: #b62673;
    left: 9px;
    cursor: pointer;
    color: #ffffff;

    font-weight: lighter;
    text-align: center;
    text-decoration: none;

    font-size: 14pt;
  }

  .test-footer div {
    display: inline-block;
  }

  .comments {
    margin: 20px;
  }

  .card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
  }

  .card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  }

  .card-title {
    text-align: center;
  }

  .card-text div {
    display: flex;
    flex-flow: row wrap;
  }

  .flex-answer {
    flex: 1 27%;
  }

  .offer {
    text-align: center;
  }

  .offer.ok {
    margin: 100px;
  }

  .checkbox {
    display: none;
  }

  .checkbox-custom {
    position: relative;
    width: 20px;
    height: 20px;
    border: 2px solid #ccc;
    border-radius: 3px;
  }

  .checkbox-custom, .label {
    display: inline-block;
    vertical-align: middle;
  }

  .checkbox:checked + .checkbox-custom::before {
    content: "";
    display: block;
    position: absolute;

    top: 2px;
    right: 2px;
    bottom: 2px;
    left: 2px;

    background: #b62673;
    border-radius: 2px;
  }

}

