.form-ok {

  input {
    margin-top: 10px;
  }

  .modal-button {
    float: right;
  }

  .error {
    color: red;
    text-align: center;
    margin: 20px;
  }

  button.ok {
    color: #ffffff;
    background-color: #b62673;
  }

}
