.services {
  padding-top: 50px;
  padding-bottom: 50px;
  border-bottom: 3px solid #d1cad0;

  h1 {
    text-align: center;
    font-size: 4em;
  }

  img {
    margin: auto;
    display: block;
    width: 300px;
    border-radius: 20px;
  }

  .texts {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    padding-top: 50px;
    padding-bottom: 50px;
  }

  .image {
    margin: auto;
    width: 400px;
  }

  .offer {
    margin: auto;
    width: 400px;
  }

  .text-right-only-web {
    text-align: right;
  }

  @media screen and (min-width : 0px) and (max-width : 1024px) {
    h1 {
      text-align: center;
      font-size: 7em;
      margin-bottom: 10%;
    }

    h2 {
      text-align: center;
      font-size: 2em;
    }

    img {
      margin: auto;
      width: 100%;
      border-radius: 20px;
    }

    .image {
      padding-top: 50px;
      padding-bottom: 50px;
      order: -1;
      width: 100%;
    }

    .offer {
      width: 100%;
      font-size: 3em;
      margin-top: 10%;
      margin-bottom: 20%;
    }

    .text-right-only-web {
      text-align: left;
    }


  }

}

