.stock {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;

  padding-bottom: 50px;
  border-bottom: 3px solid #d1cad0;

  h1 {
    text-align: center;
    flex: 1 100%;
  }

  img {
    // border: 1px solid #b62673;
    // border-radius: 10px;
    width: 400px;
    margin: auto;
    display: block;
  }

  .offer {
    flex: 1;
  }

  button {
    width: 354px;
    height: 72px;

    margin: auto;
    margin-top: 50px;

    display: block;
    text-align: center;
    display: block;
    background-position: 0% 0%;
    background-repeat: no-repeat;
    border-width: 1px;
    border-radius: 15px;
    background-hover-color: #c46298;
    color: #ffffff;
    height: 72px;
    background-color: #b62673;
    left: 9px;
    cursor: pointer;
    line-height: 72px;
    color: #ffffff;

    font-weight: lighter;
    text-align: center;
    text-decoration: none;

    font-size: 14pt;
  }

}

