.first-modal-form {

  input {
    margin-top: 10px;
  }

  .modal-button {
    float: right;
  }

  .error {
    color: red;
    text-align: center;
    margin: 20px;
  }

  button.cancel {
    color: white;
    background-color: #b62673;
    background-color: gray;
  }

  @media screen and (min-width: 480px) {
    h4 {
      font-size: 40pt;
    }

    button {
      font-size: 35pt;
    }

    .form-control {
      height: 82px;
      font-size: 37px;
    }

    .error {
      font-size: 30pt;
    }

  }


}
