{
  "presets": [
    'stage-0',
    "stage-1",
    'es2015',
    "react",
  ],
  "env": {
    "development": {
      "presets": [
        "latest",
        "react-hmre"
      ],
      "plugins": [
        "transform-react-constant-elements",
        "transform-react-remove-prop-types",
        "transform-class-properties",
        "transform-decorators-legacy",
        "babel-plugin-syntax-async-functions",
        'add-module-exports',
      ]
    },
    "production": {
      "presets": [
        ["latest", {
          "es2015": {
            "modules": false
          }
        }]
      ],
      "plugins": [
        "transform-react-constant-elements",
        "transform-react-remove-prop-types",
        "transform-class-properties",
        "transform-decorators-legacy",
        "babel-plugin-syntax-async-functions",
        'add-module-exports',
      ]
    },
    "test": {
      "presets": [
        "latest"
      ]
    }
  }
}

