.contacts {

  padding-bottom: 50px;
  border-bottom: 3px solid #d1cad0;

  h1 {
    text-align: center;
    margin-top: 50px;
    margin-bottom: 50px;
  }

  p {
    text-align: center;
    font-size: 14pt;
  }

}
