.first-screen {
  height: 100vh;

  h1 {
    font-weight: bold;
  }

  .form-control {
    margin-top: 5%;
    margin-bottom: 5%;
  }

  @media (min-width: 575px) {
    width: 100%;
    min-height: 550px;

    // background-image: url("~static/images/first.gif");
    // background-size: 100%;
    // background-repeat: no-repeat;
    // color: white;

    h1 {
      font-size: 4rem;
    }

    .form-control {
      font-size: 1.5rem;
    }

  }

  @media (max-width: 576px) {
    padding-left: 5%;
    padding-right: 5%;

    h1 {
      font-size: 2rem;
    }

    .form-control {
      font-size: 1.5rem;
    }

  }

}
