.stock {
  justify-content: center;
  padding: 2% 0%;

  img {
    border-radius: 5%;
    width: 80%;
    margin: auto;
    display: block;
  }

  .form-control {
    margin: 5% 5%;
  }

  .error {
    margin: 5% 0%;
  }

  .button-offer {
    margin: 5% 0%;
  }

  @media only screen and (max-device-width : 1024px) and (orientation : landscape) {
    .row {
      display: inline-block;
    }

    .col-sm-6 {
      max-width: 100%;
    }

    img {
      width: 60%;
    }

    h3 {
      text-align: center;
      margin: 5% 5%;
    }

  }

  @media (min-width: 575px) {
    font-size: 1.2rem;
  }

  @media (max-width: 576px) {
    min-height: 500px;

    h3 {
      text-align: center;
      margin: 5% 5%;
    }

    .offer {
      padding-left: 10%;
    }

    button {
      font-size: 0.8rem;
    }

  }

}

