.stock {
  justify-content: center;
  // height: 100vh;
  // height: 100%;
  // height: 100vh;
  // display: flex;
  // flex-flow: row wrap;
  // align-items: center;

  padding-top: 10%;
  padding-bottom: 10%;
  border-bottom: 3px solid #d1cad0;

  h3, h4 {
    text-align: center;
    margin: 20px;
  }

  img {
    width: 80%;
    margin: auto;
    display: block;
  }

  button {
    margin: auto;
    margin-top: 2em;
    font-size: 2em;
  }

  input {
    width: 50%;
    margin: auto;
  }

  //   .offer {
  //     flex: 1 100%;
  //     justify-content: center;
  //     align-items: center;
  //     font-size: 25pt;

  //     h3 {
  //       font-size: 30pt;
  //     }
  //     h4 {
  //       font-size: 25pt;
  //     }

  //   }


  // .offer {
  //   flex: 1;
  // }

  // @media screen and (min-width: 480px) {
  //   height: 100vh;

  //   .body {
  //     font-size: 30pt;
  //   }

  //   h1 {
  //     font-size: 52pt;
  //   }

  //   img {
  //     width: 80%;
  //     margin: auto;
  //     display: block;
  //   }

  //   .offer {
  //     flex: 1 100%;
  //     justify-content: center;
  //     align-items: center;
  //     font-size: 25pt;

  //     h3 {
  //       font-size: 30pt;
  //     }
  //     h4 {
  //       font-size: 25pt;
  //     }

  //   }

  //   button {
  //     margin: auto;
  //     margin-top: 150px;
  //     font-size: 34pt;
  //   }

  // }

}

