.reviews {
  // padding-bottom: 5%;
  // border-bottom: 3px solid #d1cad0;
  padding-top: 2%;
  padding-bottom: 2%;

  h1 {
    text-align: center;
    margin-top: 5%;
    margin-bottom: 5%;
  }

  // img {
  //   width: 359px;
  //   height: 633px;
  // }

  @media (min-width: 575px) {
    .image-gallery {
      margin: auto;
      display: block;
      width: 35%;
      height: 35%;
    }
  }

  @media (max-width: 576px) {

    img {
      height: 120%;
    }

    .image-gallery {
      margin-left: -10%;
      display: block;
      width: 120%;
    }

  }

}


