.reviews {
  padding-top: 2%;
  padding-bottom: 2%;

  h1 {
    text-align: center;
    margin-top: 5%;
    margin-bottom: 5%;
  }

  @media (min-width: 575px) {
    .image-gallery {
      margin: auto;
      display: block;
      width: 35%;
      height: 35%;
    }
  }

  @media (max-width: 576px) {

    img {
      height: 100%;
    }

    .image-gallery {
      display: block;
      width: 100%;
    }

  }

}


