.pointer {
  cursor: pointer;
}

.btn {
  cursor: pointer !important;
}

.red-line-through {
  color: red;
  text-decoration: line-through;
}

.color-black {
  color: black;
}

.color-red {
  color: red;
}

.color-blue {
  color:blue;
}

.background-green {
  background-color: #d2c566;
}

button.btn {
  display: block;

	transition: all 0.1s;
	-webkit-transition: all 0.1s;

	padding: 10px 40px;
	border-radius: 10px;
	font-family: 'Pacifico', cursive;
	color: #FFF;
	text-decoration: none;

	background-color: #E74C3C;
	border-bottom: 5px solid #BD3E31;
	text-shadow: 0px -2px #BD3E31;
}

button.btn:active {
	transform: translate(0px,5px);
  -webkit-transform: translate(0px,5px);
	border-bottom: 1px solid;
}
