.main {
  border-bottom: 3px solid #d1cad0;
  padding-bottom: 50px;
  justify-content: center;
  align-items: center;

  img {
    width: 470px;
    height: 590;
  }

  h1 {
    font-size: 37pt;
    font-weight: bold;
    text-align: center;
    align-content: center;
  }

  h2 {
    font-size: 12pt;
    text-align: center;
  }

  @media screen and (min-width: 480px) {
    height: 100vh;

    img {
      display: none;
    }

    h1 {
      font-size: 52pt;
    }

    h2 {
      font-size: 24pt;
    }

    button {
      margin: auto;
      margin-top: 150px;
      font-size: 60pt;
    }

  }

}

