.reviews {

  padding-bottom: 50px;
  border-bottom: 3px solid #d1cad0;

  h1 {
    text-align: center;
    margin-top: 50px;
    margin-bottom: 50px;
  }

  img {
    width: 359px;
    height: 633px;
  }

  .image-gallery {
    margin: auto;
    display: block;
    width: 359px;
    height: 633px;
  }

}

