.main {
  border-bottom: 3px solid #d1cad0;
}

.main img {
  width: 470px;
  height: 590;
}

.main h1 {
  font-size: 26pt;
  font-weight: bold;
  align-content: center;
  text-align: center;
}

.main h3 {
  font-size: 12pt;
  text-align: center;
}

.main button {
  width: 254px;
  height: 72px;

  margin: auto;
  margin-top: 100px;

  display: block;
  text-align: center;
  display: block;
  background-position: 0% 0%;
  background-repeat: no-repeat;
  border-width: 1px;
  border-radius: 15px;
  background-hover-color: #c46298;
  color: #ffffff;
  height: 72px;
  width: 224px;
  background-color: #b62673;
  left: 9px;
  cursor: pointer;
  line-height: 72px;
  color: #ffffff;

  font-weight: lighter;
  text-align: center;
  text-decoration: none;

  font-size: 14pt;
}
