.services {
  padding-bottom: 50px;
  border-bottom: 3px solid #d1cad0;

  h1 {
    text-align: center;
    margin-top: 50px;
  }

  h2 {
    text-align: center;
  }

  img {
    margin: auto;
    display: block;
    height: 300px;
    border-radius: 20px;

    margin-top: 20px;
    margin-bottom: 20px;
  }

  .texts {
    margin-bottom: 50px;
  }

}
