.services {

  padding-bottom: 50px;
  border-bottom: 3px solid #d1cad0;

  h1 {
    text-align: center;
    margin-top: 50px;
  }

  h2 {
    text-align: center;
  }

  .texts {
    margin-bottom: 50px;
  }

  // .block {
  //   display: block;
  //   border-width: 1px;
  //   border-color: #cccccc;
  //   border-style: none;
  //   border-top: 1px solid #d1cad0;
  // }

  img {
    margin: auto;
    display: block;
    width: 200px;
    height: 200px;
    border-radius: 20px;

    margin-top: 20px;
    margin-bottom: 20px;
  }

}
