footer {
  margin-top: 20px;
  margin-bottom: 20px;

  h3 {
    margin: 20px;
    display: block;
    text-align: center;
  }

  input {
    margin-top: 20px;
    margin-bottom: 20px;
  }

  button {
    margin: auto;
    margin-top: 20px;

    display: block;
    text-align: center;
    display: block;
    background-position: 0% 0%;
    background-repeat: no-repeat;
    border-width: 1px;
    border-radius: 15px;
    background-hover-color: #c46298;
    color: #ffffff;
    background-color: #b62673;
    left: 9px;
    cursor: pointer;
    line-height: 72px;
    color: #ffffff;

    font-weight: lighter;
    text-align: center;
    text-decoration: none;

    font-size: 14pt;
    height: 72px;
    width: 224px;
  }

}
