.contacts {
  // padding-bottom: 10%;
  padding-top: 2%;
  padding-bottom: 2%;

  h1 {
    text-align: center;
  }

  p {
    text-align: right;
    // margin-right: 5%;
    font-family: 'SegoeUIBold' !important;
    font-size: 1.3rem;
  }

  // .bottom {
  //   margin-top: 5%;
  //   margin-left: -5%;
  //   margin-right: -5%;
  //   border-bottom: 3px solid #d1cad0;
  // }

}
