.contacts {
  padding-bottom: 10%;


  h1 {
    text-align: center;
    margin-top: 5%;
    margin-bottom: 5%;
    font-size: 2.5em;
  }

  p {
    text-align: right;
    font-size: 1.5em;
  }

  .bottom {
    margin-top: 5%;
    border-bottom: 3px solid #d1cad0;
  }

  @media not all and (orientation: landscape) {

    h1 {
      font-size: 5em;
    }

    p {
      font-size: 2.4em;
    }

  }

}
